@import 'fonts.css';

body {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    /*background-color: rgba(91, 94, 240, 0.5);*/
    /*background-color: rgba(83, 83, 83, 0.6);*/
    background-color: rgba(70, 70, 70, 0.69);
    height: 80px;
    position: fixed;
    box-shadow: 0 5px 30px;
    z-index: 2;
}

#logo {
    margin-left: 20px;
    opacity: 1;
    float: left;
}

#logo:hover {
    opacity: 0.8;
}

#nav {
    /* width: 400px;*/
    width: 450px;
    float: right;
    /*margin-top: 33px;*/
    /*font-family: fanwoodregular, sans-serif;*/
    font-family: open_sansbold, sans-serif;
    /*font-family: dejavu_serifbook, serif;*/
    font-size: 80%;
    /*letter-spacing: -0.05vw;*/
}

#nav ul {
    list-style: none;
    display: block;
    margin: 0 auto;
}

#nav li {
    padding-top: 29px;
    float: left;
    padding-right: 21px;
}

#nav li img {
    margin-top: -3px;
    height: 25px;
}

#nav li a {
    color: #fff;
    opacity: 0.8;
    font-size: 120%;
    text-decoration: none;
}

/*#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }*/
#nav li a:hover {
    color: #fff;
    opacity: 1;
}

#cover {
    /*background: url(img/cover.jpg) no-repeat center fixed;*/
    background: url(img/cover3.jpg) no-repeat center;
    background-size: cover;
    min-height: 80vh;
    /*max-height: 97vh;*/
}

#coverServis {
    background: url(img/coverServis3.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
}

#popis {
    display: block;
    font-family: fanwoodregular, sans-serif;
    color: #fff;
    opacity: 1;
    font-size: 200%;
    text-decoration: none;
    text-align: center;
    background-color: rgba(88, 88, 88, 0.68);
    padding: 3vh 0;
    margin: 0 30vw;
    border: solid;
    box-shadow: 0 0 80px black;
}

#odstavecDva {
    height: 1200px;
    background-color: white;
    /*border-top: thick solid black;*/
    /*border-top: solid;
    border-top-width: 10px;
    border-top-color: #646467;*/
    box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.67);
}

#imageLogo {
    margin: 0;
    padding: 0;
    text-align: center;
}

#imageLogo li {
    display: table-cell;
    padding: 0 2vw;
}

#imageLogo img {
    max-width: 50%;
}

#imageLogo li img:hover {
    opacity: 0.4;
}

@media screen and (min-width: 2200px) {
    #imageLogo li {
        display: inline-flex;
    }
}

#imageServisLogo img {
    max-width: 70%;
    height: auto;
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.8), 3px 30px 80px 1px rgba(0, 0, 0, 0.8);
}

#imageServisLogo {
    padding-top: 10vw;
    text-align: center;
    /* padding-right: 15vw;*/
    margin: 0;
}

#imageServisLogo li {
    display: inline-block;
    padding: 10px 10px;

}

#imageServisLogo li img:hover {
    opacity: 0.4;
}

#imagePrenajomLogo {
    padding-top: 10vw;
    padding-right: 10vw;
    padding-left: 10vw;
    text-align: center;
    margin: 0;
}

#imagePrenajomLogo a {
    padding: 0;
    margin: 0;
}

#imagePrenajomLogo li {
    position: relative;
    display: inline-block;
    /*padding: 10px 10px;*/
    margin: 10px 10px;
    width: 20vh;
    min-width: 160px;

}

#imagePrenajomLogo img {
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.8), 3px 30px 80px 1px rgba(0, 0, 0, 0.8);
}

#imagePrenajomLogo li:hover {
    opacity: 0.4;
}

.imageText {
    position: absolute; /* Position the background text */
    bottom: 4px; /* At the bottom. Use top:0 to append it to the top */
    /*top: 0; !* At the bottom. Use top:0 to append it to the top *!*/
    background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    max-width: 100%;
    width: 20vh;
    min-width: 160px;
    letter-spacing: 0.05em;
    /*margin-bottom: 2%;*/
    /*width: 100%; !* Full width *!*/
    /*padding: 20px; !* Some padding *!*/
}

.imageText h3 {
    /*margin: 0;*/
    margin: 10px 0 10px 0;
    font-family: open_sans, sans-serif;
    font-size: 110%;
    letter-spacing: 0.05em;
}

#imgAbout {
    float: left;
    margin-right: 20px;
    width: 5%;
    height: auto;
    min-width: 200px;

}

#aboutText {
    /*width: 70%;*/
    /*float: left;*/
}

.contactFlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*margin-left: 5vw;*/
    padding-left: 5vw;
}

.contactFlexContainer > div {
    /*padding-right: 5vw;*/
    font-family: open_sans, sans-serif;
    font-size: 110%;
    color: white;
}

#contactContacts h3 {
    margin-bottom: 0;
}

#contactContacts p {
    margin-top: 8px;
}

#mapContact {
    /*margin-top: 10vh;*/
    /*margin-left: 5vw;*/
}

#contact {
    padding-top: 15vw;
    text-align: center;
    color: white;
}

.paddingTop {
    height: 10vh;
    min-height: 80px;
}

.centeredFlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.centeredFlexContainer > div {
    /*padding-right: 5vw;*/
    font-family: open_sans, sans-serif;
    font-size: 110%;
    color: white;
}

.centeredFlexContainer a {
    /*text-decoration: inherit;*/
    /*text-underline: none;*/
    color: white;
}

@media only screen and (min-width: 1000px) {
    .containerAlt {
        display: grid;
        /*Display as a Grid */
        grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
        /* repeat = as many times as you can fit */
        /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
        /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
        grid-gap: 2vw;
    }
    .containerAltContacts {
        display: grid;
        /*Display as a Grid */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* repeat = as many times as you can fit */
        /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
        /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
        grid-gap: 2vw;
    }
    .service {
        max-width: 42vw;
        min-width: 425px;
    }

}

.containerAlt {
    padding-left: 10vw;
    font-family: open_sans, sans-serif;
    font-size: 110%;
    color: white;
}

.containerAltContacts {
    padding-left: 10vw;
    font-family: open_sans, sans-serif;
    font-size: 110%;
    color: white;
}

.itemAlt {
}

.tableCena {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableCena td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px 50px 8px 8px;
}

.tableCena th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px 50px 8px 8px;
}

.tableCena tr:nth-child(even) {
    /*background-color: rgba(255, 255, 255, 0.45);*/
    background-color: rgba(218, 37, 29, 0.43);
}
.tableCena tr:nth-child(odd) {
    /*background-color: rgba(255, 255, 255, 0.45);*/
    background-color: rgba(255, 255, 255, 0.11);
}

#serviceOffer {
    /*padding-left: 2vw;*/
}

#serviceOffer ul {
    padding-left: 1vw;
}

.service {
    text-align: justify;
    text-justify: auto;
    max-width: 80vw;
}

#serviceContacts h3 {
    /*margin-bottom: 0;*/
}

#serviceContacts p {
    /*margin-top: 8px;*/
}

.serviceContacts {
    /*padding-top: 4vh;*/
    /*padding-right: 5vw;*/
    /*text-indent: -30px;*/
    /*word-spacing: 120%;*/
    letter-spacing: 0.05em;
}

#contactContacts {
    letter-spacing: 0.05em;
    padding-right: 5vw;
}

.headerServis {
    color: #da251d;
    font-size: 170%;
    letter-spacing: 0.08em;
}

.holder {
    max-width: 65vw;
    padding-left: 20px;
    margin: auto;
}

#putzText {
    padding-top: 15vw;
    text-align: center;
    color: white;
}

.displayBlock {
    max-width: 1080px;
    display: inline-block;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

/*
body {
    font-family: 'Open Sans', sans-serif;
}
*/

.text {
    /*   width: 100%;*/
    height: 13vh;
    max-width: 60vh;
    z-index: 10;
    /*  background-color: rgba(0, 0, 0, 0.79);*/
    box-shadow: 0 -5px 60px rgba(0, 0, 0, 0.41);
    display: block;
    margin: auto;
    border-radius: 50px 50px 0 0;
}

svg {
    width: 100%;
    height: inherit;
    border-radius: 50px 50px 0 0;
}

svg text {
    text-anchor: middle;
}

svg #alpha {
    /*fill: rgba(254, 255, 252, 0.66);*/
    fill: rgb(255, 255, 255);
}

svg #title {
    letter-spacing: -0.2vh;
    font-size: 6vh;
    font-weight: 800;
}

svg #subtitle {
    letter-spacing: 0.4vh;
    font-size: 2vh;
    font-weight: 300;
    text-transform: uppercase;
}

svg #base {
    /*fill: rgb(0, 0, 0);*/
    fill: rgb(255, 255, 255);
    mask: url(#mask);
}

.leftArrow {
    margin-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*opacity: 0.8;*/
    height: 50px;
}

.leftArrow:hover {
    opacity: 0.6;
}

